.video-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del texto */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
}

.texto-superpuesto {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1; /* Asegura que el texto esté sobre el video */
}

.fondo_container {
    background-color: #2e2e2e;
}
.border {
    border: red 5px solid;
}

.contenedor {
    position: relative;
    width: 100%;
    height: 500px; /* ajusta la altura según sea necesario */
    overflow: hidden;
}

.contenedor iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* ajusta el ancho según sea necesario */
    height: 80%; /* ajusta la altura según sea necesario */
}

.enviado {
    padding: 50px;
    border: 2px solid #00fffb;
    border-radius: 15px;
    margin: 40px 0px;
}
