.seccion-empleado {
    background-color: #2e2e2e;
    color: #00fefb;
    width: 30%;

    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    border: #00fefb 1px solid;
    border-radius: 15px;
    padding-top: 12px;
    margin-bottom: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.seccion-empleado:hover {
    background-color: transparent;
    border: #00807d 1px solid;
    color: #00807d;
    transition: 0.3s;
}

.icon-delete {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.icon-delete:hover {
    color: rgb(116, 0, 0);
    cursor: pointer;
}

.icon-edit {
    color: green;
    cursor: pointer;
}

.icon-edit:hover {
    color: rgb(0, 82, 0);
    cursor: pointer;
}

@media (500px >= width) {
    .seccion-empleado {
        background-color: #2e2e2e;
        color: #00fefb;
        width: 100%;

        text-transform: uppercase;
        text-align: center;
        font-size: 15px;
        border: #00fefb 1px solid;
        border-radius: 15px;
        padding-top: 12px;
        margin-bottom: 20px;

        box-shadow: rgb(56, 56, 56) 0px 6px 12px -2px,
            rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
}
