@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

h1,
h2 {
    font-family: "Montserrat", sans-serif;
}
h4 {
    border: #00fffb 4px solid;
    border-radius: 15px;
}
.underline {
    color: #00fffb;
    border: none;
    height: 4px;
    background-color: #00fffb;
    opacity: 1;
}
.img-tech {
    width: 85%;
    margin-left: 25px;
}
.borderTest {
    border: red 2px solid;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}
.imgRounded {
    border: #004f4d 4px solid;
    border-radius: 15px;
}
.imagenFondo {
    background-image: url("../img/inicio/inicio_03_c.jpg");
    background-size: cover;
    background-position: center;
}

.imagenFondo {
    background-image: url("../img/inicio/inicio_03_c.jpg");
    background-position: center;
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el div */
    padding: 20px; /* Añade un espacio alrededor del texto */
}

.imagenFondoH4 {
    border: white 4px solid;
    border-radius: 15px;
    color: #00fffb; /* Color del texto */
    font-size: 50px; /* Tamaño de fuente del texto */
    margin: 80px;
    padding: 40px;
    max-width: 30%;
    /* Alineación del texto */
}

/* Media query para ajustar el tamaño del texto en pantallas más pequeñas */
@media screen and (max-width: 1400px) {
    .imagenFondoH4 {
        font-size: 30px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
        margin: 40px;
        padding: 30px;
    }
}

.videoFondo {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.videoFondo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del texto */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
}

.texto-superpuesto {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1; /* Asegura que el texto esté sobre el video */
}
