.text-justify {
    text-align: justify;
}

.underline {
    color: #00fffb;
    border: none;
    height: 4px;
    background-color: #00fffb;
    opacity: 1;
}

.img-tech {
    width: 85%;
    margin-left: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.bg-oscuro {
    background-color: #2e2e2e;
}

.beneficios {
    border: 1px solid #00fffb;
    border-radius: 15px;
    padding: 15px;
    min-height: 180px;
    margin: auto;
}
