.text-justify {
    text-align: justify;
}

.underline {
    color: #00fffb;
    border: none;
    height: 4px;
    background-color: #00fffb;
    opacity: 1;
}

.img-tech {
    width: 85%;
    margin-left: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.bg-oscuro {
    background-color: #2e2e2e;
}

.beneficios {
    border: 1px solid #00fffb;
    border-radius: 15px;
    padding: 15px;
    min-height: 180px;
    margin: auto;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: #00fefb;
    --bs-btn-bg: #2e2e2e;
    --bs-btn-border-color: #00fefb;
    --bs-btn-hover-color: #00807d;
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}
