@import url("index.css");

.text-justify {
    text-align: justify;
}

.underline {
    color: #00fffb;
    border: none;
    height: 4px;
    background-color: #00fffb;
    opacity: 1;
}

.img-tech {
    width: 85%;
    margin-left: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.bg-oscuro {
    background-color: #2e2e2e;
}

.beneficios {
    border: 1px solid #00fffb;
    border-radius: 15px;
    padding: 15px;
    min-height: 180px;
    margin: auto;
}

.enviado {
    padding: 50px;
    border: 2px solid #00fffb;
    border-radius: 15px;
    margin: 40px 0px;
}

.formulario {
    padding: 55px 55px 0px 55px;
    background-color: #2e2e2e;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media (width < 800px) {
    .formulario {
        padding: 0px;
        padding-top: 15px;
        border: 2px solid #2e2e2e;
        border-radius: 15px;
    }
}
