.logo {
    background-color: #2e2e2e;
}

.col-3 {
    padding-top: 50px;
    padding-left: 50px;
    background-color: white;
}

.col-9.info {
    background-color: #00fefb1c !important;
}

.seccion_erp {
    padding: 50px 0px 50px 0px;
}

.img-usuario {
    width: 30%;
    padding: 20px 0px 10px 20px;
}

.nombres {
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.col-3.usuario {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.col-9.info {
    background-color: #ddfffe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

i.fa-solid.fa-user {
    color: #00fefb;
    padding-right: 6px;
}

.seccion {
    background-color: #2e2e2e;
    color: #00fefb;
    width: 70%;
    margin-left: 20px;

    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    border: #00fefb 1px solid;
    border-radius: 15px;
    padding-top: 12px;
    margin-bottom: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

i.fa-solid.fa-user {
    color: #00fefb;
    padding-right: 6px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.seccion:hover {
    background-color: transparent;
    border: #00807d 1px solid;
    color: #00807d;
    transition: 0.3s;
}

.frase {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: initial;
    color: #00807d;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
}

.log-out {
    background-color: #00fefb;
    color: #00fefb;
    width: 70%;
    margin-left: 20px;

    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    border: #00fefb 1px solid;
    border-radius: 15px;
    padding-top: 12px;
    margin-bottom: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*
  @keyframes slidein  {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }*/
